<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.comtrade.wear"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".WearableActionActivity"
            android:label="@string/activity_wearable_action">
        </activity>

        <receiver
            android:name=".WearableActionBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.comtrade.wear.ACTION_BROADCAST"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".WearableActionService"
            android:exported="false">
        </service>

    </application>
</manifest>
